# Basecamp API
BASECAMP_ACCOUNT_ID=5402506
BASECAMP_CLIENT_ID=
BASECAMP_CLIENT_SECRET=
BASECAMP_REDIRECT_URI=http://localhost:3000/api/basecamp/callback

# Database
DATABASE_URL=

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Sync
SYNC_INTERVAL_MINUTES=15
